@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
	background: url('../images/background.gif') no-repeat;
	background-size: cover;
} */

.img-home {
    width: 25%;
}

.footer-link {
    text-align: center;
    width: 33%;
}

label.required:before {
    content: "*";
}

