{% block footer %}

    <div class="flex justify-evenly bg-pink-400 absolute bottom-0 w-screen p-2">
        <div class="footer-link">
            <a href="#">F.A.Q</a>
        </div>
        <div class="footer-link">
            <a href="#">Mentions légale</a>
        </div>
        <div class="footer-link">
            <a href="#">Politique de confidentialité</a>
        </div>
    </div>
    
{% endblock %}