{% block footer %}

    <div class="flex justify-evenly bg-pink-400 absolute bottom-0 w-screen p-2">
        <a href="#">F.A.Q</a>
        <a href="#">Mentions légale</a>
        <a href="#">Politique de confidentialité</a>
    </div>
    
{% endblock %}